*{
    padding: 0;
    margin: 0;
}

#game{
    width: 1000px;
    height: 200px;
    margin-left: 300px;
    border: 1px solid black;
}
#dino{
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
}
.animate{
    animation: jump 500ms;
}
@keyframes jump {
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}
#block{
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 980px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 980px;}
    100%{left: -40px;}
}
#moon{
    height: 25px;
    width: 25px;
    position: relative;
    top: -50px;
    left: 950px;
    border-radius: 50%;
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 2.5em;
}
#sun{
    height: 25px;
    width: 25px;
    position: relative;
    top: -50px;
    left: 950px;
    border-radius: 50%;
    color: black;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 2.5em;
}